.person-wrapper {
  font-family: 'Helvetica';
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .person-content {
    text-align: center;
    color: $textColor;
    min-height: 22.5vh;

    img {
      width: 80px;
      height: 80px;
      border-radius: 35px;
    }

    h3 {
      margin-bottom: 5px;
    }
  }

  .person-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin-top: 20px;
    padding: 20px 40px;
    color: $textColor;
    background-color: #1f2124;
    border-radius: 5px;
    min-height: 12.5vh;

    span {
      border: 1px solid white;
      padding: 5px;
      color: $textColor;
      border-radius: 5px;
      cursor: pointer;
      height: 30px;
    }
  }

  .idk {
    margin-top: 20px;
    padding: 20px 40px;
    color: #d9e4ed;
    background-color: #1f2124;
    border-radius: 5px;
    width: 75%;
    min-height: 55vh;
  }
}

.delete-profile-btn {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}

#deleteProfile {
  color: red !important;
}
