section {
  .post-wrapper {
    margin-top: 20px;
    background-color: #1f2124;
    border-radius: 5px;
    padding: 20px;

    input {
      width: 100%;
      background-color: transparent;
      border: 0;
      outline: none;
      color: $textColor;
    }
  }

  .post-btn {
    text-align: right;

    span {
      padding: 6px 15px;
      border: 1px solid $btnAndHovers;
      border-radius: 15px;
      color: $textColor;
      cursor: pointer;
    }
  }

  .post {
    background-color: #1f2124;
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 5px;

    .person-info {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    img {
      width: 80px;
      height: 80px;
      border-radius: 35px;
    }

    div {
      margin-left: 20px;
      margin-right: 20px;

      h3 {
        color: $textColor;
      }

      p {
        color: $textColor;
      }
    }

    .post-content {
      margin-top: 20px;
      p {
        font-size: 20px;
        color: $textColor;
      }
    }

    .like-comments-wrapper {
      padding-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      span {
        font-size: 20px;
        color: $textColor;
      }

      .like-btn {
        width: 0;
        margin-right: 60px;
        border: 0;
        background-color: transparent;
      }

      .comment-btn {
        width: 0;
        margin-right: 60px;
        border: 0;
        background-color: transparent;
      }

      img {
        width: 24px;
        height: 24px;
        margin-right: 5px;
        margin-left: 30px;
        cursor: pointer;
      }

      #deletePost {
        margin-left: 20px;
        padding: 5px 10px;
        background-color: transparent;
        color: red;
        font-size: 18px;
      }
    }
  }
}
