@font-face {
  font-family: "Helvetica";
  src: url(../../../fonts/Helvetica.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131415;
  font: "Helvetica";
}

header {
  padding: 10px 0;
  background-color: #323539;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .form input {
  max-width: 50%;
  margin-right: 20px;
  background-color: #131415;
  border: 1px solid #131415;
  color: #d9e4ed;
}
header .person-photo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header .person-photo img {
  height: 40px;
  width: 40px;
}

.person-wrapper {
  font-family: "Helvetica";
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.person-wrapper .person-content {
  text-align: center;
  color: #d9e4ed;
  min-height: 22.5vh;
}
.person-wrapper .person-content img {
  width: 80px;
  height: 80px;
  border-radius: 35px;
}
.person-wrapper .person-content h3 {
  margin-bottom: 5px;
}
.person-wrapper .person-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-top: 20px;
  padding: 20px 40px;
  color: #d9e4ed;
  background-color: #1f2124;
  border-radius: 5px;
  min-height: 12.5vh;
}
.person-wrapper .person-options span {
  border: 1px solid white;
  padding: 5px;
  color: #d9e4ed;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
}
.person-wrapper .news-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person-wrapper .news-wrapper .news-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.person-wrapper .news-wrapper .news-inner a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.person-wrapper .news-wrapper .news-inner a img {
  height: 150px;
  width: 200px;
  border-radius: 20px;
}
.person-wrapper .news-wrapper .news-inner a h4 {
  color: #d9e4ed;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.delete-profile-btn {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}

#deleteProfile {
  color: red !important;
}

section {
  min-height: 90vh;
  /* Track */
  /* Handle */
}
section .hidden {
  opacity: 0;
}
section ::-webkit-scrollbar {
  width: 10px;
}
section ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
section ::-webkit-scrollbar-thumb {
  background: #d9e4ed;
  border-radius: 10px;
}
section .all-users {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px 40px;
  color: #d9e4ed;
  background-color: #1f2124;
  border-radius: 5px;
  width: 75%;
  min-height: 45vh;
  margin-bottom: 40px;
}
section .all-users h3 {
  margin-bottom: 20px;
  color: #d9e4ed;
}
section .all-users .users-wrapper .users-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
section .all-users .users-wrapper .users-inner img {
  width: 24px;
  height: 24px;
}
section .all-users .users-wrapper .users-inner h4 {
  margin-left: 20px;
  margin-right: 10rem;
  color: #d9e4ed;
}
section .all-users .users-wrapper .users-inner .btns-div {
  position: absolute;
  right: 2%;
}
section .all-users .users-wrapper .users-inner .btns-div button {
  padding: 3px 15px;
  border: 1px solid #ffd37d;
  border-radius: 15px;
  color: #d9e4ed;
  cursor: pointer;
  background-color: transparent;
}
section .all-users .pagination-wrapper {
  display: flex;
}
section .all-users .pagination-wrapper .left-arrow {
  position: absolute;
  left: 5%;
  bottom: 1.5%;
  cursor: pointer;
}
section .all-users .pagination-wrapper .right-arrow {
  position: absolute;
  right: 5%;
  bottom: 1.5%;
  cursor: pointer;
}
section .chat {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  color: black;
  background-color: #1f2124;
  border-radius: 5px;
  width: 261px;
  min-height: 34vh;
  opacity: 0;
  transition: all 1s;
}
section .chat .chat-wrapper {
  width: 100%;
}
section .chat .chat-wrapper .chat-header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
section .chat .chat-wrapper .chat-header .person-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
section .chat .chat-wrapper .chat-header .person-info img {
  margin-right: 20px;
  position: absolute;
  width: 24px;
  height: 24px;
}
section .chat .chat-wrapper .chat-header .person-info h5 {
  color: #d9e4ed;
  font-size: 20px;
  margin-left: 40px;
}
section .chat .chat-wrapper .chat-header .button-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
section .chat .chat-wrapper .chat-header .button-inner span {
  color: #d9e4ed;
  position: absolute;
  right: 0;
  font-size: 20px;
  cursor: pointer;
}
section .chat .chat-wrapper .chat-body {
  position: relative;
  overflow-y: scroll;
  height: 20vh;
  background-color: #232932;
}
section .chat .chat-wrapper .chat-body .message-recived {
  color: #d9e4ed;
  text-align: left;
  margin-left: 5%;
}
section .chat .chat-wrapper .chat-body .message-recived p {
  margin-top: 10px;
}
section .chat .chat-wrapper .chat-body .message-sent {
  color: #d9e4ed;
  text-align: right;
  margin-right: 5%;
}
section .chat .chat-wrapper .chat-body .message-sent p {
  margin-top: 10px;
}
section .chat .chat-wrapper .chat-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
section .chat .chat-wrapper .chat-footer input {
  border: none;
  background-color: transparent;
  outline: none;
  color: #d9e4ed;
}
section .chat .chat-wrapper .chat-footer button {
  border: 0;
  color: black;
  cursor: pointer;
  background-color: transparent;
  color: #d9e4ed;
}
section .news {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px 40px;
  color: #d9e4ed;
  background-color: #1f2124;
  border-radius: 5px;
  width: 75%;
  min-height: 35vh;
}
section .news h3 {
  margin-bottom: 20px;
  color: #d9e4ed;
}

section .post-wrapper {
  margin-top: 20px;
  background-color: #1f2124;
  border-radius: 5px;
  padding: 20px;
}
section .post-wrapper input {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
  color: #d9e4ed;
}
section .post-btn {
  text-align: right;
}
section .post-btn span {
  padding: 6px 15px;
  border: 1px solid #ffd37d;
  border-radius: 15px;
  color: #d9e4ed;
  cursor: pointer;
}
section .post {
  background-color: #1f2124;
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 5px;
}
section .post .person-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
section .post img {
  width: 80px;
  height: 80px;
  border-radius: 35px;
}
section .post div {
  margin-left: 20px;
  margin-right: 20px;
}
section .post div h3 {
  color: #d9e4ed;
}
section .post div p {
  color: #d9e4ed;
}
section .post .post-content {
  margin-top: 20px;
}
section .post .post-content p {
  font-size: 20px;
  color: #d9e4ed;
}
section .post .like-comments-wrapper {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
section .post .like-comments-wrapper span {
  font-size: 20px;
  color: #d9e4ed;
}
section .post .like-comments-wrapper .like-btn {
  width: 0;
  margin-right: 60px;
  border: 0;
  background-color: transparent;
}
section .post .like-comments-wrapper .comment-btn {
  width: 0;
  margin-right: 60px;
  border: 0;
  background-color: transparent;
}
section .post .like-comments-wrapper img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-left: 30px;
  cursor: pointer;
}
section .post .like-comments-wrapper #deletePost {
  margin-left: 20px;
  padding: 5px 10px;
  background-color: transparent;
  color: red;
  font-size: 18px;
}

.custom-modal {
  position: absolute; /* Sit on top of the page content */
  display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
.custom-modal #changeProfileForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-modal #changeProfileForm .change-inner-form {
  position: relative;
  padding: 100px;
  background-color: rgba(12, 16, 16, 0.5568627451);
  color: #d9e4ed;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #0c184a;
  border-radius: 10px;
}
.custom-modal #changeProfileForm .change-inner-form h3 {
  position: absolute;
  top: 5px;
  right: 4%;
  font-size: 24px;
  cursor: pointer;
}
.custom-modal #changeProfileForm .change-inner-form .label-input-wrapper {
  display: flex;
  flex-direction: column;
}
.custom-modal #changeProfileForm .change-inner-form .label-input-wrapper label {
  font-family: "Havertica";
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.custom-modal #changeProfileForm .change-inner-form .label-input-wrapper input {
  margin-bottom: 5px;
  background-color: #323232;
  padding: 5px;
  color: #d9e4ed;
  font-size: 16px;
}
.custom-modal #changeProfileForm .change-inner-form .change-btn-inner {
  text-align: center;
  margin-top: 20px;
}
.custom-modal #changeProfileForm .change-inner-form .change-btn-inner button {
  margin-top: 10px;
  font-family: "Havertica";
  background-color: #323232;
  color: white;
  padding: 10px 30px;
  font-size: 14px;
  cursor: pointer;
}

section .posts-parent-element .comment-parent .comment-wrapper {
  background-color: #1f2124;
  border-radius: 5px;
  padding: 20px;
}
section .posts-parent-element .comment-parent .comment-wrapper label {
  font-size: 20px;
  color: #d9e4ed;
}
section .posts-parent-element .comment-parent .comment-wrapper .comment-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .posts-parent-element .comment-parent .comment-wrapper .comment-inner input {
  width: 75%;
  background-color: transparent;
  outline: none;
  border: 1px solid #d9e4ed;
  color: #d9e4ed;
}
section .posts-parent-element .comment-parent .comment-wrapper .comment-inner button {
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid #ffd37d;
  border-radius: 15px;
  color: #d9e4ed;
  cursor: pointer;
}
section .posts-parent-element .comment-parent .comment-wrapper .comment {
  text-align: center;
  margin-top: 20px;
  border: 1px solid white;
  padding: 5px;
}
section .posts-parent-element .comment-parent .comment-wrapper .comment p {
  color: #d9e4ed;
}/*# sourceMappingURL=hexa-homepage.css.map */