@font-face {
  font-family: "Helvetica";
  src: url(../../../fonts/Helvetica.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131415;
}

header {
  padding: 10px 0;
  background-color: #323539;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .form input {
  max-width: 50%;
  margin-right: 20px;
  background-color: #131415;
  border: 1px solid #131415;
  color: #d9e4ed;
}
header .person-photo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header .person-photo img {
  height: 40px;
  width: 40px;
}

.person-wrapper {
  font-family: "Helvetica";
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.person-wrapper .person-content {
  text-align: center;
  color: #d9e4ed;
  min-height: 22.5vh;
}
.person-wrapper .person-content img {
  width: 80px;
  height: 80px;
  border-radius: 35px;
}
.person-wrapper .person-content h3 {
  margin-bottom: 5px;
}
.person-wrapper .person-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-top: 20px;
  padding: 20px 40px;
  color: #d9e4ed;
  background-color: #1f2124;
  border-radius: 5px;
  min-height: 12.5vh;
}
.person-wrapper .person-options span {
  border: 1px solid white;
  padding: 5px;
  color: #d9e4ed;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
}
.person-wrapper .idk {
  margin-top: 20px;
  padding: 20px 40px;
  color: #d9e4ed;
  background-color: #1f2124;
  border-radius: 5px;
  width: 75%;
  min-height: 43vh;
}

.delete-profile-btn {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}

#deleteProfile {
  color: red !important;
}

section {
  min-height: 90vh;
}
section .idk2 {
  margin-top: 20px;
  padding: 20px 40px;
  color: #d9e4ed;
  background-color: #1f2124;
  border-radius: 5px;
  width: 75%;
  min-height: 45vh;
  margin-bottom: 40px;
}
section .idk3 {
  margin-top: 20px;
  padding: 20px 40px;
  color: #d9e4ed;
  background-color: #1f2124;
  border-radius: 5px;
  width: 75%;
  min-height: 35vh;
}

section .post-wrapper {
  margin-top: 20px;
  background-color: #1f2124;
  border-radius: 5px;
  padding: 20px;
}
section .post-wrapper input {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
  color: #d9e4ed;
}
section .post-wrapper .post-btn {
  text-align: right;
}
section .post-wrapper .post-btn span {
  padding: 6px 15px;
  border: 1px solid #ffd37d;
  border-radius: 15px;
  color: #d9e4ed;
  cursor: pointer;
}

.custom-modal {
  position: absolute; /* Sit on top of the page content */
  display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
.custom-modal #changeProfileForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-modal #changeProfileForm .change-inner-form {
  position: relative;
  padding: 100px;
  background-color: rgba(12, 16, 16, 0.5568627451);
  color: #d9e4ed;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #0c184a;
  border-radius: 10px;
}
.custom-modal #changeProfileForm .change-inner-form h3 {
  position: absolute;
  top: 5px;
  right: 4%;
  font-size: 24px;
  cursor: pointer;
}
.custom-modal #changeProfileForm .change-inner-form .label-input-wrapper {
  display: flex;
  flex-direction: column;
}
.custom-modal #changeProfileForm .change-inner-form .label-input-wrapper label {
  font-family: "Havertica";
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.custom-modal #changeProfileForm .change-inner-form .label-input-wrapper input {
  margin-bottom: 5px;
  background-color: #323232;
  padding: 5px;
  color: #d9e4ed;
  font-size: 16px;
}
.custom-modal #changeProfileForm .change-inner-form .change-btn-inner {
  text-align: center;
  margin-top: 20px;
}
.custom-modal #changeProfileForm .change-inner-form .change-btn-inner button {
  margin-top: 10px;
  font-family: "Havertica";
  background-color: #323232;
  color: white;
  padding: 10px 30px;
  font-size: 14px;
  cursor: pointer;
}/*# sourceMappingURL=hexa-homepage.css.map */