@font-face {
  font-family: 'Helvetica';
  src: url(../../fonts/Helvetica.ttf);
}

// Hexa Homepage
$bgBlack: #131415;
$bgSearch: #323539;
$btnAndHovers: #ffd37d;
$textColor: #d9e4ed;

button {
  margin-top: 10px;
  font-family: 'Havertica';
  background-color: #323232;
  color: white;
  padding: 10px 30px;
  font-size: 14px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020808de;
}
