#loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .login-inner-form {
    position: relative;
    padding: 100px;
    background-color: #0c10108e;
    color: $textColor;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #0c184a;
    border-radius: 10px;

    h2 {
      margin-top: 5px;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      font-family: 'Havertica';
    }

    .label-input-wrapper {
      display: flex;
      flex-direction: column;

      label {
        font-family: 'Havertica';
        font-size: 20px;
        margin-bottom: 10px;
      }

      input {
        margin-bottom: 10px;
        background-color: #323232;
        padding: 5px;
      }
    }

    .login-btn-inner {
      text-align: center;
      margin-top: 20px;

      button {
        font-family: 'Havertica';
        background-color: #323232;
        color: white;
        padding: 10px 30px;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
